@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Muli|Thasadith');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body {
  background-color: black;
  height: 100%;
}


a {
  color: black;
  text-decoration: none;
}

.link {
  color: black;
  text-decoration: underline;
  text-decoration-color: violet;

  /* -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy; */
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: black;
  transition: text-decoration 1s ease-in-out;
}
